* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #333;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    text-align: center;
}

main .description {
    width: 500px;
}

main .image-container img {
    width: 250px;
    height: 200px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
}